log
.venv
pages/__pycache__
package
config/__pycache__
config/__pycache__
test
.idea
config/watchers/__pycache__
utils/__pycache__
cmd/__pycache__
picture
config/dev_config.yaml
.env
result
test_case/test_daimajia_gold/__pycache__
test_case/__pycache__
media/screenshot

allure-report/

config/prod_config.yaml

env/